---
import Layout from "../../layouts/Layout.astro"
import Card from "../../components/Card.astro"
// Data

const posts = await Astro.glob("./course/*.md")

const courses = posts.map((course) => ({
  frontmatter: course.frontmatter,
  url: course.url,
}))
---

<Layout title="courses">
  <div
    class="cards-container grid grid-cols-1 gap-8 m-8 sm:grid-cols-2 lg:grid-cols-3"
  >
    {
      courses.map((course) => (
        <Card
          title={course.frontmatter.title}
          body={course.frontmatter.description}
          href={"/education/course/" + course.frontmatter.title}
          button_title="Saber mas"
          image={course.frontmatter.image?.src}
        />
      ))
    }
  </div>

  <style></style>
</Layout>
