---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Education">
  <h1>Education</h1>
  <button
    class="bg-green-500 rounded-lg text-center m-12 p-5 hover:bg-green-400"
    ><a href="/education/courses">Education Courses</a></button
  >
</Layout>
