---
import cursos from "../../data/courses.json"

import Layout from "../../layouts/Layout.astro"
import Card from "../../components/Card.astro"
// Data
---

<Layout title="courses">
  <div
    class="cards-container grid grid-cols-1 gap-8 m-8 sm:grid-cols-2 lg:grid-cols-3"
  >
    {
      cursos.map(({ title, body, url, image }) => (
        <Card
          title={title}
          body={body}
          href={"/education/course/" + url}
          button_title="Saber mas"
          image={image}
        />
      ))
    }
  </div>
</Layout>

<style></style>
